﻿@model IEnumerable<LeaveManagementSystem.Models.RequestModel>

@{
    ViewBag.Title = "AdminIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Manager leave requests</h2>
<h1> </h1>
<h4>Pending requests</h4>
<table class="table">
    <tr>
        <th>
            @Html.Label("Name")
        </th>
        <th>
            @Html.Label("Leave Type")
        </th>
        <th>
            @Html.Label("Start Date")
        </th>
        <th>
            @Html.Label("End Date")
        </th>
        <th>
            @Html.Label("Leave Length")
        </th>
        <th>
            @Html.Label("Status")
        </th>
        <th>
            @Html.Label("Actions")
        </th>
    </tr>
    @foreach (var item in Model)
    {
        if (item.Accepted == "Pending" && !item.Special)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LeaveType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LeaveLength)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Accepted)
                </td>
                <td>
                    @Html.ActionLink("Accept", "Reply", new { id = item.ID, response = true }) |
                    @Html.ActionLink("Reject", "Reply", new { id = item.ID, response = false }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ID })
                </td>
            </tr>
        }
    }
</table>
<hr />
<h4>Special requests</h4>
<table class="table">
    <tr>
        <th>
            @Html.Label("Name")
        </th>
        <th>
            @Html.Label("Leave Type")
        </th>
        <th>
            @Html.Label("Start Date")
        </th>
        <th>
            @Html.Label("End Date")
        </th>
        <th>
            @Html.Label("Leave Length")
        </th>
        <th>
            @Html.Label("Status")
        </th>
        <th>
            @Html.Label("Actions")
        </th>
    </tr>
    @foreach (var item in Model)
    {
        if (item.Accepted == "Pending" && item.Special)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LeaveType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LeaveLength)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Accepted)
                </td>
                <td>
                    @Html.ActionLink("Accept", "Reply", new { id = item.ID, response = true }) |
                    @Html.ActionLink("Reject", "Reply", new { id = item.ID, response = false }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ID })
                </td>
            </tr>
        }
    }
</table>
<hr />
<h4>Marked requests</h4>
<table class="table">
    <tr>
        <th>
            @Html.Label("Name")
        </th>
        <th>
            @Html.Label("Leave Type")
        </th>
        <th>
            @Html.Label("Start Date")
        </th>
        <th>
            @Html.Label("End Date")
        </th>
        <th>
            @Html.Label("Leave Length")
        </th>
        <th>
            @Html.Label("Status")
        </th>
        <th>
            @Html.Label("Actions")
        </th>
    </tr>

    @foreach (var item in Model)
    {
        if (item.Accepted != "Pending")
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LeaveType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LeaveLength)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Accepted)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                </td>
            </tr>
        }
    }
</table>

<div class="row">
    <div class="col-md-8">
        <a href="/Account/Register" class="btn btn-primary btn-lg">Add new employee &raquo;</a>
    </div>
    <div class="col-md-4">
        <a href="/Leave/AdminLeaveIndex" class="btn btn-primary btn-lg">View leave profiles &raquo;</a>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-md-8">
        <a href="/Request/YourRequests" class="btn btn-primary btn-lg">View your requests &raquo;</a>
    </div>
    <div class="col-md-4">
        <a href="/Leave/ViewDefault" class="btn btn-primary btn-lg">View default profile &raquo;</a>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-md-8">
        <a href="/Account/ViewUsers" class="btn btn-primary btn-lg">View user roles &raquo;</a>
    </div>
</div>