﻿@{
    ViewBag.Title = "Sent";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Invalid Request</h2>
<p class="lead">You have entered invalid dates for a negative length of leave. Please try a different set of dates.</p>
<p><a href="/Request/Create" class="btn btn-primary btn-lg">&laquo; Back</a></p>
