﻿
@{
    ViewBag.Title = "NoLeave";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Insufficient leave.</h2>
<p class="lead">You do not have enough leave remaining for the dates you have requested.</p>
<p>
    You can either go back to edit your request and select a new set of dates, or, if you
    need to take an emergency leave of absence, you may apply for a special request.
</p>

<div class="row">
    <div class="col-md-8">
        <a href="/Request/Create" class="btn btn-primary btn-lg">&laquo; Back to request</a>
    </div>
    <div class="col-md-4">
        <a href="/Request/CreateSpecial" class="btn btn-primary btn-lg">Special request &raquo;</a>
    </div>
</div>