﻿
@{
    ViewBag.Title = "Sent";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Request sent</h2>
<p class="lead">Your request has been sent to your manager for approval.</p>
<p><a href="/Request/Index" class="btn btn-primary btn-lg">Menu &raquo;</a></p>