﻿@model IEnumerable<LeaveManagementSystem.Models.RequestModel>

@{
    ViewBag.Title = "YourRequests";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-8">
        <h2>Your Requests</h2>
    </div>
    <div class="col-md-4">
        <p>
            <h1></h1>
            Leave days remaining:
            @Html.Raw(ViewBag.LeaveDays)
            <a href="/Request/Create" class="btn btn-primary btn-lg">New request &raquo;</a>
        </p>
    </div>
</div>
<h4>Pending requests</h4>
<table class="table">
    <tr>
        <th>
            @Html.Label("Leave Type")
        </th>
        <th>
            @Html.Label("Start Date")
        </th>
        <th>
            @Html.Label("End Date")
        </th>
        <th>
            @Html.Label("Leave Length")
        </th>
        <th>
            @Html.Label("Status")
        </th>
        <th>
            @Html.Label("Actions")
        </th>
    </tr>
    @foreach (var item in Model)
    {
        if (item.Accepted == "Pending")
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.LeaveType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LeaveLength)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Accepted)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                </td>
            </tr>
        }
    }
</table>
<hr />
<h4>Previous requests</h4>
<table class="table">
    <tr>
        <th>
            @Html.Label("Leave Type")
        </th>
        <th>
            @Html.Label("Start Date")
        </th>
        <th>
            @Html.Label("End Date")
        </th>
        <th>
            @Html.Label("Leave Length")
        </th>
        <th>
            @Html.Label("Status")
        </th>
        <th>
            @Html.Label("Actions")
        </th>
    </tr>
    @foreach (var item in Model)
    {
        if (item.Accepted != "Pending")
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.LeaveType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LeaveLength)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Accepted)
                </td>
                <td>
                    @Html.ActionLink("Details", "Details", new { id = item.ID })
                </td>
            </tr>
        }
    }
</table>