﻿
@{
    ViewBag.Title = "Denied";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Access Denied</h2>
<p class="lead">You do not have sufficient priviledges to access this part of the system.</p>
<p><a href="/Request/Index" class="btn btn-primary btn-lg">Return home &raquo;</a></p>