﻿@using System
@model IEnumerable<LeaveManagementSystem.Models.ApplicationUser>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Roles)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        @foreach (List<String> user in ViewBag.RolesList) {
            if (user[0] == item.UserName.ToString()) {
                <td>@user[1]</td>
            }
        }
        <td>
            @Html.ActionLink("Edit", "EditRole", new { id = item.Id }) @*|
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })*@
        </td>
    </tr>
}
</table>

<div class="row">
    <div class="col-md-8">
        <a href="/Request/AdminIndex" class="btn btn-primary btn-lg">&laquo; Back to requests</a>
    </div>
</div>