﻿@model IEnumerable<LeaveManagementSystem.Models.LeaveModel>

<h2>Leave Profiles</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.User)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateJoined)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DaysPerMonth)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LeaveDays)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Overdraft)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Manager)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.User)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateJoined)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DaysPerMonth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LeaveDays)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Overdraft)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Manager)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            </td>
        </tr>
    }

</table>

<div class="row">
    <div class="col-md-8">
        <a href="/Request/AdminIndex" class="btn btn-primary btn-lg">&laquo; Back to requests</a>
    </div>
    <div class="col-md-4">
        <a href="/Account/Register" class="btn btn-primary btn-lg">Add new employee &raquo;</a>
    </div>
</div>
