﻿@model LeaveManagementSystem.Models.LeaveModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>
    @Html.DisplayFor(model => model.User)
</h2>

<div>
    <h4>LeaveModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.User)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateJoined)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateJoined)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DaysPerMonth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DaysPerMonth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LeaveDays)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LeaveDays)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Overdraft)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Overdraft)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Manager)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Manager)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
