﻿@model LeaveManagementSystem.Models.LeaveModel

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>
    @Html.DisplayFor(model => model.User)
</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>LeaveModel</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ID)

        <div class="form-group">
            @Html.LabelFor(model => model.LeaveDays, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                Current:
                @Html.DisplayFor(model => model.LeaveDays)
            </div>
            <div class="col-md-10">
                New:
                @Html.EditorFor(model => model.LeaveDays, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.LeaveDays, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DaysPerMonth, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                Current:
                @Html.DisplayFor(model => model.DaysPerMonth)
            </div>
            <div class="col-md-10">
                New:
                @Html.EditorFor(model => model.DaysPerMonth, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DaysPerMonth, "", new { @class = "text-danger" })
            </div>
        </div>
        
        <div class="form-group">
            @Html.LabelFor(model => model.Overdraft, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                Current:
                @Html.DisplayFor(model => model.Overdraft)
            </div>
            <div class="col-md-10">
                New:
                @Html.EditorFor(model => model.Overdraft, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Overdraft, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Manager, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                Current:
                @Html.DisplayNameFor(model => model.Manager)
            </div>
            <div class="col-md-10">
                New:
                @Html.EditorFor(model => model.Manager, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Manager, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
