﻿@model IEnumerable<LeaveManagementSystem.Models.LeaveModel>

@{
    ViewBag.Title = "ViewDefault";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Admin Home</h2>

<h4>Default Leave Profile</h4>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.User)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DaysPerMonth)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Overdraft)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.User)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DaysPerMonth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Overdraft)
            </td>
            <td>
                @Html.ActionLink("Edit", "EditDefault", new { id = item.ID })
            </td>
        </tr>
    }

</table>

<div class="col-md-8">
    <a href="/Request/AdminIndex" class="btn btn-primary btn-lg">&laquo; Back to requests</a>
</div>